<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Custom Converter</title>
</head>

<body>

    <h1>Custom Converter</h1>
    <form id="convert" method="post">

        <div class="form-group">
            <label for="ascii_text">Input ASCII</label>
            <textarea class="form-control" id="ascii_text" name="ascii_text" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2" id="ascii_convert" name="ascii">Convert</button>

        <div class="form-group">
            <label for="hex_text">Input Hex</label>
            <textarea class="form-control" id="hex_text" name="hex_text" rows="3"></textarea>
        </div>
        <button type=" submit" class="btn btn-primary mb-2" id="hex_convert" name="hex">Convert</button>

        <div class="form-group">
            <label for="bin_text">Input Binary</label>
            <textarea class="form-control" id="bin_text" name="bin_text" rows="3"></textarea>
        </div>
        <button type=" submit" class="btn btn-primary mb-2" id="bin_convert" name="bin">Convert</button>

        <div class="form-group">
            <label for="b64_text">Input Base64</label>
            <textarea class="form-control" id="b64_text" name="b64_text" rows="3"></textarea>
        </div>
        <button type=" submit" class="btn btn-primary mb-2" id="b64_convert" name="b64">Convert</button>

    </form>
    <script type="text/javascript">

        var ascii_el = document.getElementById("ascii_text");
        ascii_el.value = '{{ascii_text}}'

        var hex_el = document.getElementById("hex_text");
        hex_el.value = '{{hex_text}}'

        var bin_el = document.getElementById("bin_text");
        bin_el.value = '{{bin_text}}'

        var b64_el = document.getElementById("b64_text");
        b64_el.value = '{{b64_text}}'

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>